body {
	font-family: 'Spectral SC', serif;
}

.main {
	top: 20px;
	opacity: .9;
}

#letters {
	word-wrap: break-word;
	letter-spacing: 10px;
}

.background {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}