body {
	font-family: 'Spectral SC', serif;
	/*display: flex;*/
	 transition: background 2s;
    -webkit-transition: background 2s;
}

.main {
	opacity: .8;
}

#letters {
	word-wrap: break-word;
	letter-spacing: 10px;
}

.background {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.panel-title {
	font-size:25px;
}

/*Bootstrap and flexboxes did not quite do what I wanted (vertical center when in md or higher)
So media query!*/
@media screen and (min-width: 992px) {
	.main {
		position: absolute;
	    top: 50%;
	    transform: translateY(-50%);
	}

}

@media screen and (max-width: 991px) {
	.main {
		margin-top: 20px;
	}

	.h1, h1 {
		font-size:25px;
	}
}
